html
  head
    title='Hello'
    style
      include ../styles/main.css
  body
    header
      h1 DatBin
      .floatright
        p Save Button
      .floatright
        p Other Button
    div#contentwrapper
      textarea#content
