html
  head
    title='Hello'
    style
      include ../styles/main.css
  body
    header#head
      h1 DatBin
      .floatright
        p Save Button
      .floatright
        p Other Button
    textarea(spellcheck='false')#content
    script
      include ../js/onload.js
