body {
	background: #2e3440;
	color: #e5e9f0;
}

header {
	background: #3b4252;
}

header h1 {
	display: inline;
}

.floatright {
	float: right;
}

textarea {
	height: 80%;
	width: 100%;
    outline: none;
	border: none;
	resize: none;
	background: #2e3440;
	caret-color: #d8dee9;
	color: #eceff4;
}
