body {
	background: #2e3440;
	color: #e5e9f0;
}

header {
	background: #3b4252;
	position: sticky;
	top: 8px;
}

header h1 {
	display: inline;
}

.floatright {
	float: right;
}

textarea {
	width: 100%;
    outline: none;
	border: none;
	resize: none;
	background: 0 0;
	caret-color: #d8dee9;
	color: #eceff4;
	font-family: monospace;
	spellcheck: false;
}
